@{
    ViewData["Title"] = "Home Page";
}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/DesignToken.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap" rel="stylesheet">
    </head>

    <body class="body-home">
           
        </body>
</html>